body {
}
.navbar {
	font-family: 'Tauri', sans-serif;
}
label {
	margin: 10px;
	margin-left: 0;
	font-size: 14px;
	font-family: 'Arial';
	color: #5C5C5C;
}
h3 {
	font-size: 22px;
	color: #006f66;
	font-family: 'Helvetica','Calibri','Arial';
	font-weight: bold;
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	width: 100%;
}
h4 {
	font-size: 18px;
	color: #006f66;
	font-family: 'Raleway', sans-serif;	

}
form {
	position:relative; /*Allow popovers in place.*/
}
.grayed_out {
	 background: rgba(0, 111, 102, 0.8);
	 position:absolute;top:0;left:0;width:100%;height:100%;z-index:10001;
	 text-align: center;
	 color: #ccc;
	 padding-top: 30px;
}
.grayed_out a {
	color: #fff;
	font-weight: 500;
}

.alert-info {
	border: 1px solid #006f66;
	color: #006f66;
}

.btn-lgr {
padding: 20px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}
.btn-min-size {
	min-width: 150px;
}
form {
	font-size: 14px;
}
.panel-center {
	text-align: center;
}

.navbar-fixed-top {
	text-transform: uppercase;
	font-size: 12px;
	background-color: #fefefe;
}
.navbar-fixed-top a {
	text-decoration: none;
}
.dropdown-menu {
	text-transform: none;
}
fieldset {
	padding-bottom: 20px;
}
.panel.suncorp .panel-heading {
	/*suncorp colours*/
	color: #006f66;
	font-weight: bold;
	background-color:#fafafa;
	border-color: #4DBCB3;
}
.panel.suncorp {
	border-color: #4DBCB3;
}
.panel-popout {
	background-color: #006f66;
	color: #fff;
}
a.list-group-item  {
	text-decoration: none;
}
a.list-group-item.active {
	background-color: #006f66;
}
body a {
	color: #006f66;
	font-weight: 500;
	text-decoration: underline;
}
body a:hover {

}
.btn {
	text-decoration: none;
}
.btn-suncorp {
	background-color: #eaeaea;
	border: 1px solid #eeeeee;
	color: #006f66;
	font-weight: 500;
	text-decoration: none;
}
.btn-fixed {
	width: 280px;
}
.btn-primary {
	background-color: #006f66;
}
.btn-primary:hover {
	background-color: #17867D;
}
.jumbotron {
	background-color: #006f66;
	color: #fff;
	margin-top: -30px;
}
.jumbotron p {
	font-family: 'Raleway', sans-serif;
}
.jumbotron h1 {
	font-family: 'Tauri', sans-serif;
}
.jumbotron a {
	color: #fff;
	text-decoration: underline;
}
.table-striped >tbody > tr:nth-child(odd)>td {
	/*background-color: #E2EDEC;*/


	}
tr.clickableRow {
	cursor: pointer;
}

.terms-and-conditions {

}

h4 .btn-suncorp {
	margin-bottom: 20px;
}


/*gets applied to the control*/
.validation_error {
	background-color: #FFA3A3 !important;
}

/* occurs beside the label */
.validation_message {
	color: #D40F0F;
	font-weight: bold;
	float: right;
	margin-top: 10px;
	font-size: 10px;
}
.validation_message::before {
	content: "*";
}