body {
	
}
.navbar {
	font-family: 'Tauri', sans-serif;
}
label {
	width: 180px;
	margin: 10px;
}
h3 {
	font-size: 22px;
	color: #006f66;
	font-family: 'Raleway', sans-serif;
}
h4 {
	font-size: 18px;
	color: #006f66;
	font-family: 'Raleway', sans-serif;	
}
.btn-lgr {
padding: 20px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}
.btn-min-size {
	min-width: 150px;
}
form {
	font-size: 14px;
}
.panel-center {
	text-align: center;
}

.navbar-fixed-top {
	text-transform: uppercase;
	font-size: 12px;
	background-color: #fefefe;
}
.dropdown-menu {
	text-transform: none;
}
fieldset {
	padding-bottom: 20px;
}
.panel .panel-heading {
	/*suncorp colours*/
	color: #006f66;
	font-weight: bold;
	background-color:#fff;
	border-color: #4DBCB3;
}
.panel {
	border-color: #4DBCB3;
}
.panel-popout {
	background-color: #006f66;
	color: #fff;
}
body a {
	color: #006f66;
	font-weight: 500;
}
body a:hover {

}
.btn-suncorp {
	background-color: #eaeaea;
	border: 1px solid #eaeaea;
	color: #006f66;
	font-weight: 500;
}
.btn-fixed {
	width: 280px;
}
.jumbotron {
	background-color: #006f66;
	color: #fff;
	margin-top: -30px;
}
.jumbotron p {
	font-family: 'Raleway', sans-serif;
}
.jumbotron h1 {
	font-family: 'Tauri', sans-serif;
}
.jumbotron a {
	color: #fff;
	text-decoration: underline;
}
.table-striped >tbody > tr:nth-child(odd)>td {
	background-color: #E2EDEC;


	}